:root{
	--font_size: 18px;
	--no_shadow: 0px 0px 0px white;
	--line_height: 23px;
}

body{
	background-color: #F8FFFE;
}


@keyframes animate_navigation_bar {
	0%{border-color: rgb(247, 246, 154); border-radius: 10px;}
	5%{border-color: rgb(144, 248, 156); border-radius: 10px;}
	10%{border-color: rgb(134, 246, 134); border-radius: 10px;}
	15%{border-color: rgb(250, 246, 144); border-radius: 15px;}
	20%{border-color: rgb(144, 246, 250); border-radius: 20px;}
	25%{border-color: rgb(177, 246, 126); border-radius: 20px;}
	30%{border-color: rgb(157, 246, 156); border-radius: 20px;}
	35%{border-color: rgb(126, 246, 177); border-radius: 25px;}
	40%{border-color: rgb(127, 246, 254); border-radius: 25px;}
	45%{border-color: rgb(236, 246, 236); border-radius: 25px;}
	50%{border-color: rgb(254, 246, 234); border-radius: 30px;}
	55%{border-color: rgb(88, 246, 137); border-radius: 33px;}
	60%{border-color: rgb(47, 246, 99); border-radius: 33px;}
	65%{border-color: rgb(74, 246, 54); border-radius: 33px;}
	70%{border-color: rgb(240, 246, 143); border-radius: 35px;}
	75%{border-color: rgb(242, 246, 118); border-radius: 35px;}
	80%{border-color: rgb(188, 246, 178); border-radius: 40px;}
	85%{border-color: rgb(172, 246, 122); border-radius: 40px;}
	90%{border-color: rgb(150, 246, 111); border-radius: 40px;}
	95%{border-color: rgb(44, 246, 188); border-radius: 40px;}
	100%{border-color: rgb(250, 246, 200); border-radius: 40px;}
}


#navigation_bar{
	padding: 30px 0px;
	border:  5px solid black; 
	font-size: 18px;
	background-color: rgb(247, 246, 154);
	font-weight: bold;
	margin-bottom: 15px;
	animation-name: animate_navigation_bar;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.navigation_links{
	font-family: "Comic Sans MS";
	text-decoration: none;
	padding-left: 85px;
	padding-right: 40px;
	color: green;
}

fieldset{
	font-size: 20px;
	text-shadow: 1px 4px 5px #68FCFA;
}

.dsa_definetion{
	font-size: var(--font_size);
	line-height: var(--line_height);
	text-shadow: var(--no_shadow);
}


.array_definetion{
	font-size: var(--font_size);
	line-height: var(--line_height);
	text-shadow: var(--no_shadow);
}

sup{
	line-height: 0px;
}

#array_DSA{
	padding-left: 130px;
}


.stack_definetion{
	font-size: var(--font_size);
	line-height: var(--line_height);
	text-shadow: var(--no_shadow);
}


#stack_DSA{
	padding-left: 330px;
}


.linkedlist_definetion{
	font-size: var(--font_size);
	line-height: var(--line_height);
	text-shadow: var(--no_shadow);
}


#linkedlist_DSA{
	padding-left: 150px;
}


.queue_definetion{
	font-size: var(--font_size);
	line-height: var(--line_height);
	text-shadow: var(--no_shadow);
}


#queue_DSA{
	padding-left: 320px;
}


.set_definetion{
	font-size: var(--font_size);
	line-height: var(--line_height);
	text-shadow: var(--no_shadow);
}


#set_DSA{
	padding-left: 120px;
}